<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Cupon de pago</title>
		<style>
			* {
				font-size: 14px;
				font-family: Courier;
			}
			
			.celdas{
				border: 1px solid black;
				text-align: center;
			}
			.celdas2{
				border: 1px solid black;
				text-align: center;
			}
			.page-break {
			    page-break-after: always;
			}

			.left{float: left;}
			.right{float: right;}

			.mr-5{margin-right: 5%}
			.mr-10{margin-right: 10%}
			.mr-15{margin-right: 15%}
			.mr-20{margin-right: 20%}

			.text-uppercase{text-transform: uppercase;}
			.text-left{text-align: left;}
			.text-right{text-align: right;}
			.text-center{text-align: center;}
		</style>
	</head>
	<body>
		<div >
			<table class="left" width="50%" cellspacing="0" cellpadding="0" >
				<tr>
					<td><span class="left">FIEDBA S.A.S</span>
						@if($data->partial == 1)
					 	<span class="right">* PARCIAL *</span>
					 	@endif
					</td>
					<td class="text-center">*</td>
				</tr>
				<tr>
					<td class="text-center">Cupon de Pago</td>
					<td class="text-center">*</td>
				</tr>
				<tr>
					<td><hr></td>
					<td class="text-center">*</td>
				</tr>
				<tr>
					<td class="text-center">No {{$data->id}}</td>
					<td class="text-center">*</td>
				</tr>
				<tr>
					<td class="text-center">777-1 - BE-MUEBLERIA</td>
					<td class="text-center">*</td>
				</tr>
				<tr>
					<td><hr></td>
					<td class="text-center">*</td>
				</tr>
				<tr>
					<td class="text-uppercase">
						{{$client->id}}-{{$client->dni}}-{{$client->name}}
						@if($data->partial == 1)
					 	<span class="right">* PARCIAL *</span>
					 	@endif
					</td>
					<td class="text-center">*</td>
				</tr>
				<tr>
					<td class="text-uppercase">
						{{$client->profile->between_street}}
					</td>
					<td class="text-center">*</td>
				</tr>
				<tr>
					<td class="text-uppercase">
						({{$client->profile->postal_code}})-{{$client->profile->address}} - {{$client->profile->district}}
					</td>
					<td class="text-center">*</td>
				</tr>
				<tr>
					<td class="text-uppercase">Crédito: {{$data->credit_id}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cuota: {{$fee->fee_number}}/{{$credit->fees}}</td>
					<td class="text-center">*</td>
				</tr>
				<tr>
					<td class="text-uppercase">Vencim: {{$fee->fee_date_expired->format('d-m-Y')}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; F.Pago: {{$fee->fee_date->format('d-m-Y')}}</td>
					<td class="text-center">*</td>
				</tr>
				<tr>
					<td><hr></td>
					<td class="text-center">*</td>
				</tr>
				<tr>
					<td class="text-uppercase text-center">Cuota:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{$data->amount}}</td>
					<td class="text-center">*</td>
				</tr>
				<tr>
					<td class="text-uppercase text-center">Punitorios:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{$data->interests}}</td>
					<td class="text-center">*</td>
				</tr>
				<tr>
					<td class="text-uppercase text-center">Total:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{$data->amount + $data->interests}}</td>
					<td class="text-center">*</td>
				</tr>
				<tr>
					<td><hr></td>
					<td class="text-center">*</td>
				</tr>
				<tr>
					<td>Son $: {{ NumerosEnLetras::convertir($data->amount + $data->interests) }}</td>
					<td class="text-center">*</td>
				</tr>
				<tr>
					<td><hr></td>
					<td class="text-center">*</td>
				</tr>
				<tr>
					<td>Proximos vencimientos</td>
					<td class="text-center">*</td>
				</tr>
				<tr>
					<td> <span class="mr-10">Crédito</span> <span class="mr-15">Cu/Cc</span> <span class="mr-15">Venc</span> <span class="mr-5">Monto</span></td>
					<td class="text-center">*</td>
				</tr>
				<tr>
					<td>
						@if($data->partial == 0 && $fee->fee_number != $credit->fees || $fee->payment == $fee->fee_amount)
							@if($nextFee)
								<span class="mr-20">{{$data->credit_id}}</span>
								<span class="mr-15">{{$nextFee->fee_number}}/{{$credit->fees}}</span>
								<span class="mr-5">{{$nextFee->fee_date_expired->format('d-m-Y')}}</span>
								<span class="mr-5">{{$nextFee->fee_amount}}</span>
							@endif
						@elseif($data->partial == 1 && $fee->fee_number < $credit->fees)
							<span class="mr-20">{{$data->credit_id}}</span>
							<span class="mr-15">{{$fee->fee_number}}/{{$credit->fees}}</span>
							<span class="mr-5">{{$fee->fee_date_expired->format('d-m-Y')}}</span>
							<span class="mr-5">{{$fee->fee_amount - $fee->payment }}</span>
						@endif
					</td>
					<td class="text-center">*</td>
				</tr>
				<tr>
					<td><b><br>ATENCION:</b><br> Su pago en termino evita la adicion de intereses punitorios y gastos a la/s cuota/s.</td>
				</tr>
			</table>

			<table class="right" width="50%" cellspacing="0" cellpadding="0" >
				<tr>
					<td><span class="">FIEDBA S.A.S</span>
						@if($data->partial == 1)
					 		<span class="right">* PARCIAL *</span>
					 	@endif
					</td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td class="text-center">Cupon de Pago</td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td><hr></td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td class="text-center">No {{$data->id}}</td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td class="text-center">777-1 - BE-MUEBLERIA</td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td><hr></td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td class="text-uppercase">
						{{$client->id}}-{{$client->dni}}-{{$client->name}}
						@if($data->partial == 1)
					 		<span class="right">* PARCIAL *</span>
					 	@endif
					</td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td class="text-uppercase">
						{{$client->profile->between_street}}
					</td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td class="text-uppercase">
						({{$client->profile->postal_code}})-{{$client->profile->address}} - {{$client->profile->district}}
					</td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td class="text-uppercase">Crédito: {{$data->credit_id}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cuota: {{$fee->fee_number}}/{{$credit->fees}}</td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td class="text-uppercase">Vencim: {{$fee->fee_date_expired->format('d-m-Y')}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; F.Pago: {{$fee->fee_date->format('d-m-Y')}}</td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td><hr></td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td class="text-uppercase text-center">Cuota:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{$data->amount}}</td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td class="text-uppercase text-center">Punitorios:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{$data->interests}}</td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td class="text-uppercase text-center">Total:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{$data->amount + $data->interests}}</td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td><hr></td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td>Son $: {{ NumerosEnLetras::convertir($data->amount + $data->interests) }}</td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td><hr></td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td>Proximos vencimientos</td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td> <span class="mr-10">Crédito</span> <span class="mr-15">Cu/Cc</span> <span class="mr-15">Venc</span> <span class="mr-5">Monto</span></td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td>
						@if($data->partial == 0 && $fee->fee_number == $credit->fees || $fee->payment == $fee->fee_amount)
							@if($nextFee )
								<span class="mr-20">{{$data->credit_id}}</span>
								<span class="mr-15">{{$nextFee->fee_number}}/{{$credit->fees}}</span>
								<span class="mr-5">{{$nextFee->fee_date_expired->format('d-m-Y')}}</span>
								<span class="mr-10">{{$nextFee->fee_amount}}</span>
							@endif
						@elseif($data->partial == 1 && $fee->fee_number < $credit->fees)
							<span class="mr-20">{{$data->credit_id}}</span>
							<span class="mr-15">{{$fee->fee_number}}/{{$credit->fees}}</span>
							<span class="mr-10">{{$fee->fee_date_expired->format('d-m-Y')}}</span>
							<span class="mr-10">{{$fee->fee_amount - $fee->payment }}</span>
						@endif
					</td>
					<td class="text-center"></td>
				</tr>
				<tr>
					<td><b><br>ATENCION:</b><br> Su pago en termino evita la adicion de intereses punitorios y gastos a la/s cuota/s.</td>
				</tr>
			</table>
		</div>
	</body>
</html>